@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Slimsy.TestSite.ViewModels.PersonViewModel>
@{
	Layout = "master.cshtml";
}

<div style="width: 50%; margin: 0 auto;">
    <img style="width: 100%;" data-sizes="auto" class="lazyload" data-srcset="@Model.PictureSrcSet"/>
</div>