
.vs/

*.user

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Oo]bj/


src/Slimsy.TestSite/umbraco/Data/TEMP/*
src/Slimsy.TestSite/umbraco/Logs/*
src/Slimsy.TestSite/umbraco/models/*
src/Slimsy.TestSite/umbraco/mediacache/*