@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
    
    // If the editor has not explicitly provided the "Page title" property page 
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;
}
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="9u skel-cell-mainContent">
                <div class="content content-left">
                    <!-- Content -->
                    <article class="is-page-content">
                        <header>
                            <h2>@pageTitle</h2>
                        </header>
                        <section>
                            @if (CurrentPage.HasValue("Image"))
                            {
                                <span class="image image-full"><img src="@CurrentPage.GetResponsiveImageUrl(500,0,"Image")" alt="" /></span>
                            }
                            
                            @{
                                var bodyText = Model.Content.GetPropertyValue<string>("bodyText");
                            }

                            <h3>Obsolete method!</h3>
                            @Html.ConvertImgToSrcSet(bodyText, true, true, removeUdiAttribute:true)
                            <h3>Current method!</h3>
                            @Html.ConvertImgToSrcSet(Model.Content, "bodyText", true, true, renderPicture: true, pictureSources: new []{"webp"})
                        </section>
                    </article>
                    <!-- /Content -->
                </div>
            </div>
            <div class="3u">
                <div class="sidebar">
                    <!-- Sidebar -->
                    @{ Html.RenderPartial("umbLatestNewsWidget"); }
                    <!-- /Sidebar -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                @{ Html.RenderPartial("umbFeatures"); }
            </div>
        </div>
    </div>
</div>
<!-- /Main -->