@inherits UmbracoViewPage<IEnumerable<IPublishedContent>>
@{
    var counter = 0;
}
<h2>Example using ResponsiveBP Slider</h2>

<div id="carousel-2" class="carousel" data-carousel-mode="fade">
    <!-- Carousel Indicators-->
    <ol>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
    <!-- Carousel Items-->
    @foreach (var feature in Model)
    {
        var featureImage = Umbraco.TypedMedia(feature.GetPropertyValue<int>("image"));
        <figure class="@(counter == 0 ? "carousel-active" : string.Empty)">
            <img src="@Url.GetCropUrl(featureImage, 270, 161, quality:30, furtherOptions:"&format=auto")" data-srcset="@Url.GetSrcSetUrls(featureImage, 270, 161)" data-src="@Url.GetCropUrl(featureImage, 270, 161)" data-sizes="auto" class="lazyload" alt="something really long" />
            <figcaption>
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur ...</p>
            </figcaption>
        </figure>

        counter++;
    }

    <!-- Carousel Controls-->
    <button><</button>
    <button class="forward">></button>
</div>