@inherits UmbracoViewPage<dynamic>

@if (Model.value != null)
{
    var udi = Model.value.udi.ToString();

    var item = Umbraco.Media(udi);

    if (item != null)
    {
        var altText = Model.value.altText ?? Model.value.caption ?? string.Empty;

        int width = 160;
        int height = 0;

        if (Model.editor.config != null && Model.editor.config.size != null)
        {
            bool successWidth = Int32.TryParse(Model.editor.config.size.width.ToString(), out width);
            bool successHeight = Int32.TryParse(Model.editor.config.size.height.ToString(), out height);
        }

        @SlimsyHelper.RenderPicture(Url, item, width, height, altText)
    }
    else
    {
        // log something maybe...
    }
    if (Model.value.caption != null)
    {
        <p class="caption">@Model.value.caption</p>
    }
}
